openai
mysql-connector-python
pandas
numpy
yfinance
requests
pandas-ta
ta
matplotlib
telethon
python-dotenv
cryptography
python-telegram-bot[job-queue]
python-json-logger
prometheus-client
APScheduler
Flask